dist: trusty

sudo: required

language: node_js

node_js:
  - "node"
  - "8"

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

addons:
  chrome: stable
  sauce_connect:
    username: "spacerockzero"
    access_key: $SAUCE_KEY

before_install:
  - # start your web application and listen on `localhost`
  # - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost

notifications:
  rooms:
    slack: practicejavascript:ctLDDjmYn6VCGc2kcbkoWGy8#bots
